/* color palette from <https://github.com/vuejs/theme> */
:root {
	--tomato-red: hsl(4, 100%, 67%);
	--dark-slate-grey: hsl(234, 29%, 20%);
	--charcoal-grey: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);
}

/* css reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}
/* end css reset */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	background: var(--dark-slate-grey);
}

#app {
	display: grid;
	place-content: center;
	min-height: 100vh;
}
